/* color palette 
#F0EAD2 #DDE5B6 #ADC178 #A98467 #6C584C*/

body{
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
    background-color: #6c584c;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

h1, nav a{
    text-decoration: none;
    color: #ADC178;
}

h1{
    font-size: 24px;
}

nav{
    font-size: 18px;
    display: flex;
    gap: 15px;
}

.hero{
    background-color: #6c584c;
    color: #ADC178;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 325px;
    padding: 70px;
}

.herotext{
    max-width: 400px;
}

h2{
    margin: 0px;
    font-size: 48px;
}

.herosub{
    font-size: 18px;
}

.herotext button{
    background-color: #DDE5B6;
    color: #6c584c;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 25px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

#teabath{
    height: auto;
    width: 400px;
}

.infosection{
    color: #6c584c;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.infoheader{
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    margin-top: 70px;
}

.actualinfo{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0px;
    padding: 70px;
}

.info{
        width: 200px;
        text-align: center;
}

.info p{
    font-size: 18px;
}

.image{
    width: 200px;
    height: 200px;
}