/* color palette 
#F0EAD2 #DDE5B6 #ADC178 #A98467 #6C584C*/

body{
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
    background-color: #6c584c;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

h1, nav a{
    text-decoration: none;
    color: #ADC178;
}

h1{
    font-size: 24px;
}

nav{
    font-size: 18px;
    display: flex;
    gap: 15px;
}

.hero{
    background-color: #6c584c;
    color: #ADC178;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 325px;
    padding: 70px;
}

.herotext{
    max-width: 400px;
}

h2{
    margin: 0px;
    font-size: 48px;
}

.herosub{
    font-size: 18px;
}

button{
    background-color: #DDE5B6;
    color: #6c584c;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 25px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    max-height: 50px;
    border: none;
    border-radius: 10px;
}

#teabath{
    height: auto;
    width: 400px;
}

.infosection{
    color: #6c584c;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.infoheader{
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    margin-top: 70px;
}

.actualinfo{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0px;
    padding: 70px;
}

.info{
        width: 200px;
        text-align: center;
}

.info p{
    font-size: 18px;
}

.image{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.quotesection{
    background-color: #A98467;
    color: #ADC178;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px;
}

.quote{
    font-size: 36px;
    font-style: italic;
}

.quotespeaker{
    font-size: 30px;
    font-weight: 900;
    padding-left: 25%;
}

.newsletter{
    margin: 100px;
    background-color: #DDE5B6;
    display: flex;
    justify-content: space-around;
    gap: 100px;
    padding: 50px;
    /* padding-left: 100px; */
    align-items: center;
    border-radius: 10px;    
    margin-right: 300px;
    margin-left: 300px;
}

.newslettertext{
    color: #6c584c;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.newslettertitle{
    font-size: 23px;
    font-weight: 900;
    margin-bottom: 0px;
}

.newslettersub{
    font-size: 18px;
    font-style: oblique;
    margin-top: 0px;
}

.newsletter button{
    border-style: solid;
    border-width: 2px;
    border-color: white;
}